<!----footer------>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-1">
        <h3>Download Our App</h3>
        <p>Available on Apple App Store and Google Play</p>
        <div class="app-logo">
          <img src="images/appstore.png" />
          <img src="images/gplay.png" />
        </div>
      </div>
      <div class="footer-col-3">
        <h3>Information</h3>
        <ul>
          <li>About Us</li>
          <li>Return Policy</li>
          <li>Customer Service</li>
          <li>Locate store near you</li>
        </ul>
      </div>
      <div class="footer-col-4">
        <h3>By</h3>
        <ul>
          <li>Steve Carindra</li>
          <li>Juventia Agnecia</li>
          <li>Nehemia Charlotte Lim</li>
        </ul>
      </div>
    </div>
    <hr />
    <p class="copyright">Copyright</p>
  </div>
</div>

<!-- script for menu -->
<script language="JavaScript">
  var MenuItems = document.getElementById("MenuItems");

  MenuItems.style.maxHeight = "0px";
  function menutoggle() {
    var MenuItems = document.getElementById("MenuItems");
    if (MenuItems.style.maxHeight == "0px") {
      MenuItems.style.maxHeight = "200px";
    } else {
      MenuItems.style.maxHeight = "0px";
    }
  }
</script>
<!-- js for toggle form -->
<script>
  var LoginForm = document.getElementById("LoginForm");
  var RegForm = document.getElementById("RegForm");
  var Indicator = document.getElementById("Indicator");

  function register() {
    RegForm.style.transform = "translateX(0px)";
    LoginForm.style.transform = "translateX(0px)";
    Indicator.style.transform = "translateX(100px)";
  }

  function login() {
    RegForm.style.transform = "translateX(300px)";
    LoginForm.style.transform = "translateX(300px)";
    Indicator.style.transform = "translateX(0px)";
  }
</script>

<!-- error validation js -->
<script>
  function printError(elemId, hintMsg) {
    document.getElementById(elemId).innerHTML = hintMsg;
  }

  function validateForm() {
    var name = document.forms.contactForm.name.value;
    var password = document.forms.contactForm.password.value;
    var email = document.forms.contactForm.email.value;
    var nameErr = (emailErr = passwordErr = true);

    //Validate name
    if (name == "") {
      printError("nameErr", "CANNOT BE EMPTY");
    } else {
      var regex = /^[a-zA-Z\s]+$/;
      if (regex.test(name) === false) {
        printError("nameErr", "ENTER A VALID NAME");
      } else {
        printError("nameErr", "");
        nameErr = false;
      }
    }

    // Validate email address
    if (email == "") {
      printError("emailErr", "CANNOT BE EMPTY");
      // alert("Name must be filled out");
    } else {
      // Regular expression for basic email validation
      var regex = /^\S+@\S+\.\S+$/;
      if (regex.test(email) === false) {
        printError("emailErr", "ENTER A VALID EMAIL");
      } else {
        printError("emailErr", "");
        emailErr = false;
      }
    }

    // Validate password address
    if (password == "") {
      printError("passwordErr", "CANNOT BE EMPTY");
    } else {
      // Regular expression for basic password validation
      var regex = /^\S+\S+\S+$/;
      // console.log(regex.test(password));
      if (regex.test(password) === false) {
        printError("passwordErr", "ENTER VALID PASSWORD");
      } else {
        printError("passwordErr", "");
        passwordErr = false;
      }
    }

    if ((nameErr || emailErr || passwordErr) == true) {
      // console.log(nameErr, emailErr, passwordErr);
      return false;
    } else {
      // Creating a string from input data for preview
      console.log("done");
      var dataPreview =
        "You've entered the following details: \n" +
        "Full Name: " +
        name +
        "\n" +
        "Email Address: " +
        email +
        "\n" +
        "Password: " +
        password +
        "\n";

      alert(dataPreview);
    }
  }
</script>
