<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/gameHeaders'); %></header>

    <main>
      <div class="container2 single-product">
        <div class="row">
          <div class="col-2">
            <img src="images/horizon.jpg" width="100%" />
            <div class="small-img-row">
              <div class="small-img-col">
                <img src="" />
              </div>
            </div>
          </div>
          <div class="col-2">
            <p>PS4 Exclusive</p>
            <h1>Horizon Zero Dawn</h1>
            <h4>Rp 320.000</h4>
            <!-- <select>
              <option>Select Edition</option>
              <option>Standard</option>
              <option>Deluxe</option>
            </select> -->
            <button class="btn" onclick="addToCart()">Add to Cart</button>

            <h3>Game Detail<i class="fa fa-indent"></i></h3>
            <br />
            <p>
              Horizon Zero Dawn is the first game of the Horizon video game
              series. The plot follows Aloy, a young hunter in a world overrun
              by machines, who sets out to uncover her past. The player uses
              ranged weapons, a spear, and stealth to combat mechanical
              creatures and other enemy forces.
            </p>
          </div>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
    <script>
      function addToCart() {
        const itemData = {
          name: "Horizon Zero Dawn",
          price: 320000,
          count: 1,
          pictureLink: "images/horizon.jpg",
        };

        fetch("http://localhost:8001/cart", {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(itemData),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("Success:", data);
            window.location.href = "/cart"; // Redirect to /cart after successful PUT request
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </body>
</html>
