<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/gameHeaders'); %></header>

    <main>
      <div class="container2 single-product">
        <div class="row">
          <div class="col-2">
            <img src="images/nintendoswitchlite.jpg" width="100%" />
            <div class="small-img-row">
              <div class="small-img-col">
                <img src="" />
              </div>
            </div>
          </div>
          <div class="col-2">
            <p>Console Exclusive</p>
            <h1>Nintendo Switch Lite</h1>
            <h4>Rp 2.250.000</h4>
            <!-- <select>
              <option>Select Edition</option>
              <option>Standard</option>
              <option>Deluxe</option>
            </select> -->
            <button class="btn" onclick="addToCart()">Add to Cart</button>

            <h3>Console details<i class="fa fa-indent"></i></h3>
            <br />
            <p>
              The system for gamers on the go. The Nintendo Switch Lite is
              designed specifically for handheld play—so you can jump into your
              favorite games wherever you happen to be.
            </p>
          </div>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
    <script>
      function addToCart() {
        const itemData = {
          name: "Nintendo Switch Lite",
          price: 2250000,
          count: 1,
          pictureLink: "images/nintendoswitchlite.jpg",
        };

        fetch("http://localhost:8001/cart", {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(itemData),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("Success:", data);
            window.location.href = "/cart"; // Redirect to /cart after successful PUT request
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </body>
</html>
