<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/gameHeaders'); %></header>

    <main>
      <div class="container2 single-product">
        <div class="row">
          <div class="col-2">
            <img src="images/xboxcon.jpg" width="100%" />
            <div class="small-img-row">
              <div class="small-img-col">
                <img src="" />
              </div>
            </div>
          </div>
          <div class="col-2">
            <p>Gaming Accessories</p>
            <h1>Xbox One Controller</h1>
            <h4>Rp 827.000</h4>
            <!-- <select>
              <option>Select Edition</option>
              <option>Standard</option>
              <option>Deluxe</option>
            </select> -->
            <button class="btn" onclick="addToCart()">Add to Cart</button>
            <h3>Game Detail<i class="fa fa-indent"></i></h3>
            <br />
            <p>
              The Xbox Wireless Controller is the primary game controller for
              the Xbox One and Xbox Series X/S home video game consoles, also
              the official controller for use in Windows-based PCs, and
              compatible with other operating systems such as macOS, Linux, iOS,
              and Android.
            </p>
          </div>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
    <script>
      function addToCart() {
        const itemData = {
          name: "Xbox One Controller",
          price: 827000,
          count: 1,
          pictureLink: "images/xboxcon.jpg",
        };

        fetch("http://localhost:8001/cart", {
          method: "PUT",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(itemData),
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("Success:", data);
            window.location.href = "/cart"; // Redirect to /cart after successful PUT request
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </body>
</html>
