<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/gameHeaders'); %></header>

    <main>
      <!----all products------>
      <div class="container2">
        <h2 class="title">ALL GAMES</h2>
        <div class="row">
          <div class="col-4">
            <a href="product.html"><img src="images/gowww.jpg" /></a>
            <h4>God of War</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.380.000</p>
          </div>
          <div class="col-4">
            <img src="images/uncharted4.jpg" />
            <h4>Uncharted 4</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.450.000</p>
          </div>
          <div class="col-4">
            <img src="images/horizon.jpg" />
            <h4>Horizon Zero Dawn</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.320.000</p>
          </div>
          <div class="col-4">
            <img src="images/bloodborne.png" />
            <h4>Bloodborne</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.260.000</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <img src="images/mc10.webp" />
            <h4>Mortal Combat 11</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.430.000</p>
          </div>
          <div class="col-4">
            <img src="images/resident10.jpg" />
            <h4>Resident Evil 10</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.390.000</p>
          </div>
          <div class="col-4">
            <img src="images/devil5.jpg" />
            <h4>Devil May Cry 5</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.204.000</p>
          </div>
          <div class="col-4">
            <img src="images/doom.jpg" />
            <h4>Doom:Eternal</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.252.000</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <img src="images/zelda.jpg" />
            <h4>Legend of Zelda: BOTW</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.490.000</p>
          </div>
          <div class="col-4">
            <img src="images/mario.jpg" />
            <h4>Super Mario Odyssey</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.383.000</p>
          </div>
          <div class="col-4">
            <img src="images/firemblem.jpg" />
            <h4>Fire Emblem:Three Houses</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.420.000</p>
          </div>
          <div class="col-4">
            <img src="images/astral.jpg" />
            <h4>Astral Chain</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.370.000</p>
          </div>
          <div class="col-4">
            <img src="images/syberia2.jpg" />
            <h4>Syberia II</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.210.000</p>
          </div>
          <div class="col-4">
            <img src="images/mmasterix.webp" />
            <h4>Mega Madness Asterix</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.175.000</p>
          </div>
          <div class="col-4">
            <img src="images/borderlands.jpg" />
            <h4>Borderlands</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.128.000</p>
          </div>
          <div class="col-4">
            <img src="images/pvz.jpg" />
            <h4>Plants VS Zombies</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.347.000</p>
          </div>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
