<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/headers'); %></header>

    <main>
      <!---recommended--->
      <div class="recommended">
        <div class="container2">
          <div class="row">
            <div class="items">
              <img src="images/spiderr.jpg" />
            </div>
            <div class="items">
              <img src="images/zelda.jpg" />
            </div>
            <div class="items">
              <img src="images/uncharted4.jpg" />
            </div>
          </div>
        </div>
      </div>

      <!----featured products------>
      <div class="container2">
        <h2 class="title">Featured Games</h2>
        <div class="row">
          <div class="col-4">
            <a href="/GodOfWar"><img src="images/gowww.jpg" /></a>
            <h4>God of War</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.380.000</p>
          </div>
          <div class="col-4">
            <a href="/uncharted4"><img src="images/uncharted4.jpg" /></a>
            <h4>Uncharted 4</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.450.000</p>
          </div>
          <div class="col-4">
            <a href="/horizonZeroDawn"><img src="images/horizon.jpg" /></a>
            <h4>Horizon Zero Dawn</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.320.000</p>
          </div>
        </div>
        <h2 class="title">Latest Consoles</h2>
        <div class="row">
          <div class="col-4">
            <a href="/ps5"><img src="images/ps5.jpg" /></a>
            <h4>PS5</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.6.549.000</p>
          </div>
          <div class="col-4">
            <a href="/xboxSeriesX"><img src="images/xboxseriesx.jpg" /> </a>
            <h4>XBOX series X</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.5.925.000</p>
          </div>
          <div class="col-4">
            <a href="/nintedoSwitchLite">
              <img src="images/nintendoswitchlite.jpg"
            /></a>
            <h4>Nintendo Switch Lite</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.2.250.000</p>
          </div>
        </div>
      </div>
      <!----Gaming Accessories------>
      <div class="container2">
        <h2 class="title">Gaming Accessories</h2>
        <div class="row">
          <div class="col-4">
            <a href="/logitechHeadphones"
              ><img src="images/logheadphone.jpg"
            /></a>
            <h4>Logitech Headphones</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.281.000</p>
          </div>
          <div class="col-4">
            <a href="/dualShock4Controller"
              ><img src="images/dualshock4.jpg"
            /></a>
            <h4>Dual Shock 4 Controller</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.690.000</p>
          </div>
          <div class="col-4">
            <a href="/xboxOneController"><img src="images/xboxcon.jpg" /></a>
            <h4>Xbox One Controller</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.827.000</p>
          </div>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
