<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/gameHeaders'); %></header>

    <main>
      <div class="container2">
        <h2 class="title">NINTENDO GAMES</h2>
        <div class="row" id="product_list">
          <div class="row">
            <div class="col-4">
              <a href="/legendOfZelda"><img src="images/zelda.jpg" /></a>
              <h4>Legend of Zelda: BOTW</h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <p>Rp.490.000</p>
            </div>
            <div class="col-4">
              <a href="/superMarioOdyssey"><img src="images/mario.jpg" /></a>
              <h4>Super Mario Odyssey</h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <p>Rp.383.000</p>
            </div>
            <div class="col-4">
              <a href="/fireEmblemThreeHouses"
                ><img src="images/firemblem.jpg"
              /></a>
              <h4>Fire Emblem:Three Houses</h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <p>Rp.420.000</p>
            </div>
            <div class="col-4">
              <a href="/astralChain"><img src="images/astral.jpg" /></a>
              <h4>Astral Chain</h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <p>Rp.370.000</p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
