<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/gameHeaders'); %></header>

    <!----PC products------>
    <div class="container2">
      <h2 class="title">PC GAMES</h2>
      <div class="row" id="product_list">
        <div class="col-4">
          <a href="/syberia2"><img src="images/syberia2.jpg" /></a>
          <h4>Syberia II</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>Rp.210.000</p>
        </div>
        <div class="col-4">
          <a href="/mmasterix"><img src="images/mmasterix.webp" /></a>
          <h4>Mega Madness Asterix</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>Rp.175.000</p>
        </div>
        <div class="col-4">
          <a href="/borderlands"><img src="images/borderlands.jpg" /></a>
          <h4>Borderlands</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>Rp.128.000</p>
        </div>
        <div class="col-4">
          <a href="/pvz"><img src="images/pvz.jpg" /></a>
          <h4>Plants VS Zombies</h4>
          <div class="rating">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>Rp.347.000</p>
        </div>
      </div>
    </div>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
