<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/gameHeaders'); %></header>

    <main>
      <!----ps4 products------>
      <div class="container2">
        <h2 class="title">PS4 GAMES</h2>
        <div class="row" id="product_list">
          <div class="col-4">
            <a href="/GodOfWar"><img src="images/gowww.jpg" /></a>
            <h4>God of War</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.380.000</p>
          </div>
          <div class="col-4">
            <a href="/uncharted4"><img src="images/uncharted4.jpg" /></a>
            <h4>Uncharted 4</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.450.000</p>
          </div>
          <div class="col-4">
            <a href="/horizonZeroDawn"><img src="images/horizon.jpg" /></a>
            <h4>Horizon Zero Dawn</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.320.000</p>
          </div>
          <div class="col-4">
            <a href="/bloodborne"><img src="images/bloodborne.png" /></a>
            <h4>Bloodborne</h4>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>Rp.260.000</p>
          </div>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
