<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/gameHeaders'); %></header>

    <main>
      <div class="container2">
        <h2 class="title">XBOX GAMES</h2>
        <div class="row" id="product_list">
          <div class="row">
            <div class="col-4">
              <a href="/mortalCombat11"><img src="images/mc10.webp" /></a>
              <h4>Mortal Combat 11</h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <p>Rp.430.000</p>
            </div>
            <div class="col-4">
              <a href="/residentEvil10"><img src="images/resident10.jpg" /></a>
              <h4>Resident Evil 10</h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <p>Rp.390.000</p>
            </div>
            <div class="col-4">
              <a href="/devilMayCry5"><img src="images/devil5.jpg" /></a>
              <h4>Devil May Cry 5</h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <p>Rp.204.000</p>
            </div>
            <div class="col-4">
              <a href="/doomEternal"><img src="images/doom.jpg" /></a>
              <h4>Doom:Eternal</h4>
              <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
              </div>
              <p>Rp.252.000</p>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
